h1 {
    color: red;
}
.tittle_1 {
    background-color: palevioletred;
}
.tittle_2 {
    color: blue;
    background-color: grey;
}
.tittle_3{
    background-color: greenyellow;
}
table{
    border-collapse: collapse;
    background-image: url(https://www.bing.com/th?id=OIP.kubu166fNTnwTfsBNjm-rAHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
  
td, th{
    border: 1px solid black;
    padding: 10px;
}
